@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');

.navbar-button {
  min-width: 100%;
  width: 200pt;
  height: auto;
  font-size: 20pt;
  font-family: 'Roboto Mono', monospace;
  border-radius: 4pt;
  border-color: var(--mainColor);
}

.navbar-button:hover {
  background-color: var(--secondaryColor);
  cursor: pointer;
  color: var(--mainColorLight);
}

.navbar-buttons-container {
  margin-top: 20pt;
  display: flex;
  justify-content: center;
  gap: 20pt;
  margin-bottom: 20pt;
}

@media only screen and (max-width: 1200px) {
  .navbar-button {
    width: 180pt;
  }
  .navbar-buttons-container {
    gap: 2pt;
  }
}

@media only screen and (max-width: 1024px) {
  .navbar-button {
    min-width: 100%;
    font-size: 20pt;
  }
  .navbar-buttons-container {
    margin-top: 10pt;
    gap: 2pt;
    margin-bottom: 10pt;
    flex-direction: column;
  }
}
