@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
  --textColor: #000000;
  --secondaryColor: rgb(42, 213, 244);
  --mainColor: #000000;
  --mainColorLight: #e0e7f0;
  --backgroundGradient: linear-gradient(to bottom, #e9d8f8, #cceeff);
}

* {
  padding: 0;
  margin: 5pt;
  font-family: 'Poppins', sans-serif;
  font-size: 17pt;
  color: var(--textColor);
}

html,
body {
  height: 100%;
  background: var(--backgroundGradient);
  background-attachment: fixed;
}

@media only screen and (max-width: 1024px) {
  * {
    padding: 0;
    margin: 3pt;
    font-family: 'Poppins', sans-serif;
    font-size: 12pt;
  }
}
